#attribution {
    margin-top: 940px;
    text-align: center;
    font-size: 10pt;
}

.license-label {
    display: inline-block;
    vertical-align: top;
    font-size: 8pt;
    padding-top: 2px;
}

.image-link {
    display: inline-block;
    padding-top: 0px;
}

body, #attribution {
    background: none repeat scroll 0 0 transparent;
    background-color: #FFF;
}