h1 {
    text-align: center;
}


#title-page h1,
#title-page h2,
#title-page h3 {
    text-align: center;
}
#title-page h1 {
    font-size: 30pt;
    font-weight: bold;
    margin-top: 50%;
}
#title-page h2 {
    font-size: 28pt;
}
#title-page h3 {
    font-size: 24pt;
}
#title-page .author {
    margin-top: 35%;
}

