.toc {
    font-size: 12pt;
}

h1 {
    font-size: 14pt;
    text-align: center;
}

ol li {
    margin-top: 6px;
}


.author {
    font-style: italic;
}
.info {
    font-size: 11pt;
    line-height: 12pt;
}


.page-number {
    float: right;
    position: absolute;
    right: 0;
}

.toc ul {
    list-style-type: none;
    margin: 0;
}
.toc li {
    list-style-type: none;
    margin-left: 36px;
    margin-bottom: 9px;
}

ul.toc, .toc ul {
    margin: 0;
    padding: 0;
}
ul.toc > li,
ul.toc > ul > li {
  margin-left: 0
}

ul.toc {
    margin-right: 24px;
}


.toc .chapter-title,
.toc .chapter.section-number{
    font-weight: bold;
}

.toc .section-number {
    display: inline-block;
    vertical-align: top;
}
.toc .details {
    display: inline;
    vertical-align: top;
}

.toc ul .chapter.section-number {
    width: 24px;
}
.toc .info {
    margin-left: 24px;
    padding-left: 4px;
}

.toc ul .section-number,
.toc ul ul .chapter.section-number{
    width: 38px;
}
.toc ul .info {
    margin-left: 38px;
}

.toc ul ul .section-number,
.toc ul ul ul .chapter.section-number {
    width: 52px;
}
.toc ul ul .info {
    margin-left: 52px;
    padding-left: 8px;
}

