<div class="jumbotron">
  <h1>Create a Course Pack</h1>
  <p class="lead">Simply upload your journal articles or other documents. We'll take care of the table of contents, attributions, page
  numbering, formatting and distribution.  For free!</p>
  <p>
    <%= link_to 'Get Started!', new_course_pack_path, class: "btn btn-lg btn-success" %>
  </p>
</div>