.registrations, .sessions, .passwords {
  .container {
    margin-bottom: 12px;
  }

  input {
    margin-bottom: 6px;
  }

  .signin-link, .forgot-link, .signup-link {
    display: inline-block;
    padding-right: 10px;
  }
  .signin-link {
    float: left;
  }
  .forgot-link {
    float: right;
  }
}