.static_pages.home {
  .container {
    max-width: 800px;
  }
  .jumbotron {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;

    .btn {
      border-radius: 6px;
      font-size: 20px;
      line-height: 1.2;
      padding: 8px 18px;
    }
  }
}
