.navbar {
  background-color: #333;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-header {
    display: inline-block;
    width: 100%;
  }
  .navbar-brand {
    color: #F2F5F2;
    max-width: 400px;
    padding: 11px 15px;
  }

  .cc-logo {
    margin-top: 12px;
    vertical-align: top;
    color: #FFF;
    font-size: 9pt;
    img {
      padding-left: 2px;
    }
  }
}

.signin-links {
  padding-right: 15px;
  padding-top: 4px;
  a {
    color: #357EBD;
    font-size: 105%;
    font-weight: bold;
  }
}