<nav class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <i class="glyphicon glyphicon-book"></i> CoursePacker.org</a>
  </div>
</nav>